@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Share+Tech&family=Share+Tech+Mono&display=swap');

/*Reset da página*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/*Configurações do corpo da página*/
body{
    width: 100%;
    min-height: 100vh;
    font-size: 100%;
    background: linear-gradient(0deg, rgba(46,6,74,1) 0%, rgba(0,0,0,1) 100%);
}

/*Configurações de menu e cabeçalho*/

#cabecalho{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background:rgba(0, 0, 0, 0.818);
}

#menu{
    display: flex;
    padding: 1px;
    gap: 15px;
    align-items: center;
}

li{
    list-style: none;
    padding: 15px;
}

a{
    color: rgba(255, 255, 255, 0.712);
    font-size: 20px;
}

#cabecalho-a{
    color: rgba(255, 255, 255, 0.712);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.846);
    border-right: 0.5px solid rgba(255, 255, 255, 0.846);
    border-radius: 15px;
    display: block;
    font-family: 'Share Tech', sans-serif;
    font-size: 18px;
    padding: 15px;
    font-weight: 600;
    
}

#cabecalho-a:hover{
    background: rgb(54, 49, 61);
}

#cabecalho-menu{
    display: flex;
    padding: 19px;
}

#cabecalho-menu-item{
    display: flex;
    color: rgba(255, 255, 255, 0.712);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.846);
    border-right: 0.5px solid rgba(255, 255, 255, 0.846);
    border-radius: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Share Tech', sans-serif;
}

#cabecalho-menu-item:hover{
    background: rgb(54, 49, 61);
}

/*Conteúdos das sections*/
#conteudo{
    border-top: 0.4px solid rgba(15, 12, 7, 0.5);
    margin-bottom: 48px;
    padding-left: 50px;
    padding-right: 50px;
}

#conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid rgba(181, 135, 197, 0.5);
    padding-top: 120px;
    padding-bottom: 150px;
}

#conteudo-principal-escrito{
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Share Tech Mono', monospace;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}

#conteudo-principal-escrito-titulo{
    font-weight: 600;
    font-size: var(--font-xl);
    color: rgba(255, 255, 255, 0.712);
    position: relative;
    max-width: max-content;
    border-right: 2px solid rgba(181, 128, 224, 0.846);
}

#conteudo-principal-escrito-subtitulo{
    font-weight: 400;
    font-size: var(--font-md);
    color: rgba(255, 255, 255, 0.712);
    animation: blink 900ms infinite normal, typing 10s steps(60) 4s normal both;
    max-width: max-content;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgba(181, 128, 224, 0.846);
}

#conteudo-principal-escrito-paragrafo{
    font-weight: 400;
    font-size: var(--font-md);
    color: rgba(255, 255, 255, 0.712);
    animation: fade-in 5s normal both;
    text-align: center;
    display: none;
}

:root{
    --font-xl: clamp(2.1vh, 2.2vh + 0.1rem, 5rem);
    --font-md: clamp(0.3vh, 1.8vh + 0.1rem, 3rem);
}


#conteudo-secundario{
    margin-top: 150px;
    padding: 20px;
}

#conteudo-secundario-escrito-paragrafo{
    font-family: 'Share Tech', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 0.712);
    animation: fade-in 20s normal both;
    justify-content: center;
    align-items: center;
    padding-bottom: 280px;
}

/*Animação do conteúdo principal*/

#conteudo-principal-escrito-titulo{
    animation: blink 900ms infinite normal, typing 4s steps(30) 0.55s normal both;
    white-space: nowrap;
    overflow: hidden;
}



@keyframes blink{
    from{
        border-right-color: rgba(255, 255, 255, 0.712);
    }
    to{
        border-right-color: transparent;
    }
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

#result, span{
    color: rgb(110, 100, 255);
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

/*Animação do parágrafo "sobre mim"*/

#btn-paragrafo{
    background: none;
    color: rgba(255, 255, 255, 0.712);
    width: 240px;
    height: 50px;
    border-left: 0.5px solid rgba(255, 255, 255, 0.7);
    border-top: 0.5px solid rgba(255, 255, 255, 0.9);
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-family: 'Share Tech Mono', monospace;
    font-size: var(--font-md);
    font-weight: 400;
    display: block;
}

#btn-paragrafo:hover{
    background: rgb(54, 49, 61);
}

#conteudo-principal-escrito-paragrafo{
    opacity: 0;
}

/*Configs do botão no celular*/
#btn-mobile{
    display: none;
}

@media(max-width: 800px){
    #btn-mobile{
        display: block;
        border: 1px solid black;
        border-radius: 25px;
        padding: 20px;
    }

    #btn-mobile:hover{
        background: rgb(54, 49, 61);
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 110px;
        right: 0px;
        background:rgba(0, 0, 0, 0.818);
        transition: 1.5s;
        z-index: 1;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #cabecalho-menu.active #menu{
        height: calc(100vh - 110px);
        visibility: visible;
        overflow-y: auto;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger{
        border-top: 2px solid rgba(255, 255, 255, 0.712);
        width: 20px;
        display: block;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.712);
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #cabecalho-menu.active #hamburger{
        border-top-color: transparent;
    }
    #cabecalho-menu.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    #cabecalho-menu.active #hamburger::before{
        transform: rotate(135deg);
    }
}

/*Estilização dos cards*/
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 5px;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
}

.container .container-card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 10px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0.5);
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.container .container-card .container-card-content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.3s;
}

.container .container-card:hover .container-card-content{
    transform: translateY(0px);
    opacity: 1;
}

.container .container-card .container-card-content h2{
    position: absolute;
    top: -50px;
    right: 0px;
    font-size: 3cm;
    color: rgba(125, 120, 120, 0.15);
    pointer-events: none;
    font-family: 'Share Tech Mono', monospace;
}

.container .container-card .container-card-content h3{
    font-size:  0.8cm;
    color: rgb(194, 194, 194);
    z-index: 1;
    font-family: 'Share Tech Mono', monospace;
}

.container .container-card .container-card-content p{
    font-size: 0.5cm;
    color: rgb(158, 158, 158);
    font-weight: 300;
    font-family: 'Share Tech Mono', monospace;
}

.container .container-card .container-card-content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: rgba(0, 0, 0, 0.50);
    color: rgb(247, 247, 247);
    text-decoration: none;
    border-radius: 15px;
    font-weight: 500;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Share Tech Mono', monospace;
}

/*Links do final da página*/
#rodape{
    border-top: 0.4px solid rgba(15, 12, 7, 0.5);
    display: block;
    text-align: center;
    background:rgba(26, 31, 25, 0.459);
}

#rodape-texto{
    padding: 40px;
    font-family: 'Share Tech', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.712);
}

/*Barra de Rolagem*/
/*Fundo que corre*/
::-webkit-scrollbar-track{
    background-color: rgb(119, 26, 213);
}

/*Fundo que corre*/

::-webkit-scrollbar{
    width: 10px;
    background: rgb(119, 26, 213);
}

/*Linha que desce*/

::-webkit-scrollbar-thumb{
    background: rgb(171, 151, 206);
    border-radius: 25px;
}