/*Configs basicas da página*/
*{
    font-size: 20px;
    font-family: inherit;
    padding: 5px;
}

body, ul{
    margin: 0px;
    padding: 0px;
    display: block;
    justify-content: center;
    align-items: center;
    list-style: none;
}
body{
    background-color: #1c2928;
}

a{
    text-decoration: none;
}

.nav-li{

    color: lime;
    border: 1px solid lime;
    border-radius: 25px;
    padding: 10px;
}

a:hover{
    background: rgba(13, 173, 34, 0.295);
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
}

#header{
    background: rgb(16, 17, 15);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

#menu{
    display: flex;
}

span{
    color: rgb(28, 141, 13);
}

h1{
    color: antiquewhite;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.grid{
    display: grid
}

.titulo-2{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    flex-wrap: wrap;
}

.gerais{
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/*Não mostra o botão na tela do pc*/
#btn-mobile{
    display: none;
}

/*animação do botao + criação do botão hamburguer*/
@media(max-width: 600px){
    #btn-mobile{
        display: block;
        border: 1px solid black;
        border-radius: 50px;
        padding: 20px;
    }

    #btn-mobile:hover{
        background: rgba(13, 173, 34, 0.295);
    }
    #menu{
        display: block;
        position: absolute;
        left: 4.8px;
        top: 90px;
        right: 4.8px;
        background-color: rgba(16, 16, 15);
        transition: 0.6s;
        z-index: 1000;
        height:0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: calc(100vh - 90px);
        visibility: visible;
        overflow-y: auto;
    }
    #btn-mobile{
        display: flex;
        padding: 10px;
        font-size: 10px;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 8px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger{
        border-top-color: transparent;
        transform: none;
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -10px;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
}

/*Configs básicas do menu*/
#menu li{
    margin-left: 10px;
}

#menu a, .github{
    display: block;
    padding: 10px;
    border: 1px solid lime;
    border-radius: 25px;

}

/*Animação da imagem no centro*/
img {
    max-width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.displayed{
    animation: flutuacao 2.5s ease-in-out infinite;
    margin-left: auto;
}
@keyframes flutuacao{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
}

/*Estilização dos cards*/
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 75px;
    gap: 10px;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
}

.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0.5);
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.3s;
}

.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2{
    position: absolute;
    top: -140px;
    right: 0;
    font-size: 3cm;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card .content h3{
    font-size:  1em;
    color: white;
    z-index: 1;
}

.container .card .content p{
    font-size: 1em;
    color: white;
    font-weight: 300;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 500;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

/*Links do final da página*/
.container-links{
    display: flex;
    justify-content: center;
}
.links{
    display: grid;
    border: 1px solid black;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    padding: 3px;
}