@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Share+Tech&family=Share+Tech+Mono&display=swap');

/*Reset da página*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/*Configurações do corpo da página*/
body{
    width: 100%;
    min-height: 100vh;
    font-size: 100%;
    background: rgb(12,14,14);
    background: linear-gradient(45deg, rgba(12,14,14,1) 0%, rgb(66, 25, 96) 50%, rgb(33, 28, 41) 100%);
}

/*Configurações de menu e cabeçalho*/

#cabecalho{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background:rgba(15, 12, 7, 0.818);
}

#menu{
    display: flex;
    padding: 1px;
    gap: 10px;
    align-items: center;
}

li{
    list-style: none;
    padding: 10px;
}

a{
    color: rgba(181, 128, 224, 0.846);
    font-size: 20px;
}

#cabecalho-a{
    color: rgba(181, 128, 224, 0.846);
    border: 1px solid rgba(181, 128, 224, 0.846);
    border-radius: 25px;
    display: block;
    font-family: 'Share Tech', sans-serif;
    font-size: 16px;
    padding: 15px;
    font-weight: 600;
}

#cabecalho-a:hover{
    background: rgba(111, 85, 125, 0.678);
}

#cabecalho-menu{
    display: flex;
    padding: 10px;
}

#cabecalho-menu-item{
    display: flex;
    color: rgba(155, 116, 194, 0.55);
    border: 1px solid rgba(181, 128, 224, 0.846);
    border-radius: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Share Tech', sans-serif;
}

#cabecalho-menu-item:hover{
    background: rgba(111, 85, 125, 0.678);
}

/*Conteúdos das sections*/
#conteudo{
    border-top: 0.4px solid rgba(15, 12, 7, 0.5);
    margin-bottom: 48px;
    padding: 200px;
}

#conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

#conteudo-principal-escrito{
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Share Tech Mono', monospace;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}

#conteudo-principal-escrito-titulo{
    font-weight: 600;
    font-size: var(--font-xl);
    color: rgba(178, 102, 232, 0.806);
}

#conteudo-principal-escrito-subtitulo{
    font-weight: 400;
    font-size: var(--font-md);
    color: rgb(158, 106, 196);
}

#conteudo-principal-escrito-paragrafo{
    font-weight: 400;
    font-size: var(--font-md);
    color: rgb(158, 106, 196);
    animation: fade-in 5s normal both;
    text-align: center;
    display: none;
}

:root{
    --font-xl: clamp(2.1vh, 2.4vh + 0.1rem, 5rem);
    --font-md: clamp(0.3vh, 1.8vh + 0.1rem, 3rem);
}

hr{
    margin-top: auto;
    color: rgba(15, 12, 7, 0.5);
}

#conteudo-secundario{
    margin-top:350px;
    padding: 200px;
}

/*Animação do conteúdo principal*/
#conteudo-principal-escrito-titulo{
    border-right: 2px solid rgba(140, 0, 255, 0.35);
    animation: fade-in 10s normal;
    white-space: nowrap;
    overflow: hidden;
}

#result, span{
    color: rgb(213, 233, 209);
}

#conteudo-principal-escrito-subtitulo{
    animation: fade-in 10s normal;
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

/*Animação do parágrafo "sobre mim"*/

#btn-paragrafo{
    background: none;
    color: rgb(214, 183, 236);
    width: 240px;
    height: 50px;
    border-left: 1px solid rgba(181, 128, 224, 0.846);
    border-top: 1px solid rgba(181, 128, 224, 0.846);
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    font-family: 'Share Tech Mono', monospace;
    font-size: var(--font-md);
    font-weight: 400;
    display: block;
}

#btn-paragrafo:hover{
    background: rgba(70, 56, 77, 0.678);
}

#conteudo-principal-escrito-paragrafo{
    opacity: 0;
}

/*Configs do botão no celular*/
#btn-mobile{
    display: none;
}

@media(max-width: 800px){
    #btn-mobile{
        display: block;
        border: 1px solid black;
        border-radius: 25px;
        padding: 20px;
    }

    #btn-mobile:hover{
        background: rgba(116, 68, 110, 0.459);
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 90px;
        right: 0px;
        background:rgba(15, 12, 7, 0.818);
        transition: 1.5s;
        z-index: 1;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #cabecalho-menu.active #menu{
        height: calc(100vh - 90px);
        visibility: visible;
        overflow-y: auto;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger{
        border-top: 2px solid rgb(167, 108, 235);
        width: 20px;
        display: block;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: rgb(167, 108, 235);
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #cabecalho-menu.active #hamburger{
        border-top-color: transparent;
    }
    #cabecalho-menu.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    #cabecalho-menu.active #hamburger::before{
        transform: rotate(135deg);
    }
}

/*Estilização dos cards*/
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
}

.container .container-card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 10px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0.5);
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.container .container-card .container-card-content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.3s;
}

.container .container-card:hover .container-card-content{
    transform: translateY(0px);
    opacity: 1;
}

.container .container-card .container-card-content h2{
    position: absolute;
    top: -100px;
    right: 0px;
    font-size: 3cm;
    color: rgba(148, 90, 214, 0.15);
    pointer-events: none;
}

.container .container-card .container-card-content h3{
    font-size:  0.8cm;
    color: rgb(175, 136, 231);
    z-index: 1;
}

.container .container-card .container-card-content p{
    font-size: 0.5cm;
    color: rgb(175, 136, 231);
    font-weight: 300;
}

.container .container-card .container-card-content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: rgba(70, 20, 106, 0.501);
    color: rgb(163, 121, 222);
    text-decoration: none;
    border-radius: 15px;
    font-weight: 500;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

/*Links do final da página*/
#rodape{
    border-top: 0.4px solid rgba(15, 12, 7, 0.5);
    display: block;
    text-align: center;
    background:rgba(26, 31, 25, 0.459);
}

#rodape-texto{
    padding: 40px;
    font-family: 'Share Tech', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(191, 155, 233);
}